<div class="d-flex flex-wrap bd-highlight">
  <div class="order-3 p-2 bd-highlight"><img src="logo.png" width="240px" height="240px" alt="metal-slug" /></div>
  <div class="order-2 p-2 bd-highlight"><img src="logo-invertido-metal-1.png" width="240px" height="240px"
      alt="metal-slug" /></div>
  <div class="order-1 p-2 bd-highlight"><img src="logo-invertido-metal-2.png" width="240px" height="240px"
      alt="metal-slug" /></div>
  <div class="order-5 p-2 bd-highlight"><img src="logo-invertido-metal-3.png" width="240px" height="240px"
      alt="metal-slug" /></div>
  <div class="order-8 p-2 bd-highlight"><img src="logo-invertido-metal-4.png" width="240px" height="240px"
      alt="metal-slug" /></div>
  <div class="order-6 p-2 bd-highlight"><img src="logo-invertido-metal-5.png" width="240px" height="240px"
      alt="metal-slug" /></div>
  <div class="order-7 p-2 bd-highlight"><img src="logo-invertido-metal-6.png" width="240px" height="240px"
      alt="metal-slug" /></div>
  <div class="order-7 p-2 bd-highlight"><img src="logo-invertido-metal-7.png" width="240px" height="240px"
      alt="metal-slug" /></div>
</div>