<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/menu_centralizado.css">
<title>Exemplo de site com Nodejs + EJS</title>
<style>
    body {
        min-width: 320px;
        min-height: 240px;
        background-color: #f8f9fa;
        margin: 0px auto;
        padding: 0px auto;
        border: 1px solid green;
        border-radius: 5vw;
        font-size: 24px;
        padding-top: 50px;
        /* height: 100vh; */
    }

    .login-container {
        /* height: 50vh; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;
    }

    .login-card:hover {
        background-color: #c0c0bd;
        opacity: 75%;
    }

    .login-card {
        border: 2px solid #f4cd1f;
        /* Cor ciano */
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        justify-content: center;
    }

    .login-fields {
        justify-content: center;
        margin: 30px;
        font-size: 24px;
    }

    .login-fields:hover {
        opacity: 80%;
        border: 1px dotted blue;
    }

    input {
        font-size: 32px;
    }

    button {
        font-size: 32px;
        font-family: 'Courier New', Courier, monospace;
    }
</style>