<!DOCTYPE html>
<html lang="ptbr">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header class="container">
        <%- include('../partials/header'); %>
    </header>
    <main class="container">
        <!-- <div class="jumbotron"></div> -->
        <div class="container-sm border border-danger rounded-lg">
            <div class="form-group">
                <h3 style="text-align: center;">Cadastro de usuário</h3>
                <form action="/cadastrar" method="post">
                    <div class="form-group">
                        <div><label for="username">Usuário:</label></div>
                        <div><input type="text" id="username" name="username" required class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="password">Senha:</label></div>
                        <div> <input type="password" id="password" name="password" required class="form-control"></div>
                    </div>
                    <!-- TODO: Implementar um campo para verificar na página se as senhas coincidem -->
                    <div><button type="submit" class="form-control btn btn-dark">Efetuar cadastro</button></div>
                </form>
            </div>
        </div>
        <div class="fixed-bottom">...</div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>