<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        DASHBOARD
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>